{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Repustate</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="/analysis/search" method="POST">
                <div class="form-group">
                    <input type="text" name="term" placeholder="Ingresa término a evaluar sentimiento" class="form-control" autofocus required>
                </div>
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01" name="retweets">
                      <option selected>Elige opción...</option>
                      <option value="1">Sin Retweets</option>
                      <option value="2">Con Retweets</option>
                    </select>
                  </div>
                <button type="submit" class="btn btn-dark btn-block">
                    Buscar
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
