{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="display-4">Positivos:</p>
            <ul class="list-group mb-3">
                {% for element in data[0]['text_positive'] %}
                    <li class="list-group-item">{{element}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="display-4">Negativos:</p>
            <ul class="list-group mb-3">
                {% for element in data[1]['text_negative'] %}
                    <li class="list-group-item">{{element}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="display-4">Neutros:</p>
            <ul class="list-group mb-3">
                {% for element in data[2]['text_neutral'] %}
                    <li class="list-group-item">{{element}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container mb-5 font-weight-bold text-center">
    <div class="row">
        <div class="col-md-12">
            <p class="display-4">Porcentajes:</p>
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Positivo
                        </div>
                        <div class="card-body">
                            <p>{{data[3]['percentages'][0]}} %</p>
                            <p id="positive-total">Total: {{data[4]['quantities'][0]}} tweets</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Negativo
                        </div>
                        <div class="card-body">
                            <p>{{data[3]['percentages'][1]}} %</p>
                            <p id="negative-total">Total: {{data[4]['quantities'][1]}} tweets</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Neutro
                        </div>
                        <div class="card-body">
                            <p>{{data[3]['percentages'][2]}} %</p>
                            <p id="neutral-total">Total: {{data[4]['quantities'][2]}} tweets</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Total
                        </div>
                        <div class="card-body">
                            <p>Porcentaje: 100 %</p>
                            <p id="total-count">Tweets: {{data[4]['quantities'][3]}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}